//- for command line testing

include includes

-
//   let patient = {
//     "id": "011e9cb7-c817-4583-972b-a18325f45dee",
//     "name": "Alden Grimes",
//     "gender": "male",
//     "dob": "1988-06-09",
//     "age": 32,
//     "colors": [ "Black",  "Red", "White" ],
//     "displaySize": 6,
//     "screenRatio": 80.43,
//     "battery": 3300,
//     "use": "official",
//       "given": [
//         "Adolfo777"
//       ],
//       "family": "Stokes453",
//       "prefix": [
//         "Mr."
//      ]
//   }


p
  | #[+phone(phone)]
