
mixin patient_chunks
  itemz {separator: '.', end:'.', mix:true}
    item
      | #[+colors]
    item
      | #[+display]

      if !hasSaid('BATTERY')
        | #{''} along with a battery of #[+value(patient.battery)] mAh
        recordSaid('BATTERY')
    item
      if !hasSaid('BATTERY')
        | #[+value(patient)] has a battery of #[+value(patient.battery)] mAh
        recordSaid('BATTERY')


mixin phone(phone)
  -
    patient.ref = 'patient_ref';
    patient.refexpr = 'patient_refexpr';
  | #[+intro] .
  | #[+patient_chunks]
  deleteSaid('BATTERY')
